<div class="bg-soft-bone card-pixel p-2 sm:p-4 w-fit    ">
  <p><%= item.type %></p>

  <%= text_field_editable(item, :name) %>
  <%= text_field_editable(item, :description) %>

  <% admin_tool do %>
      <%= text_field_editable(item, :internal_description) %>
  <% end %>

  <%= image_tag item.image.variant(:thumb) %>

  <%= number_field_editable(item, :cost, display_prefix: "$") %>

  <% admin_tool do %>
      <p>Actual IRL FR HC cost</p>
      <%= number_field_editable(item, :actual_irl_fr_cost, display_prefix: "$") %>
  <% end %>
</div>

<!-- <script>
document.addEventListener('DOMContentLoaded', () => {
  for (const itemContainer of document.querySelectorAll(".item-container")) {
    const item = itemContainer.querySelector(".item")
    const form = itemContainer.querySelector("form")

    form.style.display = "none";

    item.querySelector("button.edit").onclick = () => {
      item.style.display = "none";
      form.style.display = "block"
    }

    form.onsubmit = (e) => {
      e.preventDefault();

      const formData = new FormData(form);

      fetch("<%= shop_item_path(item.id) %>", {
        method: 'PATCH',
        body: formData,
        headers: {
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
          'Accept': 'application/json'
        },
        credentials: 'same-origin'
      })
      .then(res => {
        // if (res.ok)
        location.reload()
      })
    }
  }
})
</script> -->
