<% ineligible = current_verification_status == :ineligible %>
<% disabled = ineligible || (!current_user.ysws_verified? && !item.is_a?(ShopItem::FreeStickers)) || !item.can_afford?(current_user) %>

<%= render "shared/card", classes: "#{"col-span-full" if item.is_free?}" do %>
<!-- <div class="bg-soft-bone card-pixel bg-surface0 shadow p-6 rounded-lg h-full flex flex-col text-center w-full <%= "col-span-full" if item.is_free? %>"> -->
  <div class="flex-grow flex flex-col justify-between min-h-0">
    <div class="flex-grow">

      <h3 class="text-xl font-bold mb-2"><%= item.name %></h3>

      <div class="mb-4">
        <p class="text-gray-700"><%= item.description %></p>
      </div>

      <% if item.image.attached? %>
        <div class="mb-4 flex justify-center">
          <%= image_tag item.image.variant(:thumb), class: "rounded-lg max-w-full h-auto object-scale-down max-h-48" %>
        </div>
      <% end %>

<!--      <p class="text-xs text-vintage-red font-semibold my-2">⚠️ Limited: One per person</p>-->
    </div>

    <div class="mt-auto pt-4">
      <% already_ordered = item.one_per_person_ever? && current_user.shop_orders.joins(:shop_item).where(shop_item: item).exists? %>

      <% if already_ordered %>
        <%= button_to "Already Ordered", "#", method: :get, disabled: true, class: "w-full px-4 sm:px-6 py-2 sm:py-3 bg-forest text-white text-base sm:text-lg 2xl:text-xl btn-pixel disabled:opacity-40 disabled:cursor-not-allowed block text-center" %>
      <% else %>
        <%= button_to order_shop_item_path(item), method: :get, data: { turbo: false }, class: "w-full px-4 sm:px-6 py-2 sm:py-3 bg-forest hover:scale-[1.02] text-white transition-transform duration-300 text-base sm:text-lg 2xl:text-xl btn-pixel disabled:opacity-40 disabled:cursor-not-allowed block text-center cursor-pointer", disabled: do %>
          <% if ineligible %>
            <span>Not for you!</span>
          <% elsif !current_user.ysws_verified? && !item.is_a?(ShopItem::FreeStickers) %>
            <span>
              You need your ID verified for this
            </span>
          <% elsif item.can_afford?(current_user) %>
            <span>
              <% if item.is_free? %>
                Acquire!
              <% else %>
                Buy for <%= item.ticket_cost.ceil %> 🐚
              <% end %>
            </span>
          <% else %>
            <span>
              <%= shell_icon %> <%= (item.ticket_cost - current_user.balance).ceil %> needed
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% admin_tool do %>
    <%= link_to "administrate it?", admin_shop_item_path(item), class: "underline", target: "_blank" %>
  <% end %>
<% end %>

<!-- <script>
document.addEventListener('DOMContentLoaded', () => {
  for (const itemContainer of document.querySelectorAll(".item-container")) {
    const item = itemContainer.querySelector(".item")
    const form = itemContainer.querySelector("form")

    form.style.display = "none";

    item.querySelector("button.edit").onclick = () => {
      item.style.display = "none";
      form.style.display = "block"
    }

    form.onsubmit = (e) => {
      e.preventDefault();

      const formData = new FormData(form);

      fetch("<%= shop_item_path(item.id) %>", {
        method: 'PATCH',
        body: formData,
        headers: {
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
          'Accept': 'application/json'
        },
        credentials: 'same-origin'
      })
      .then(res => {
        // if (res.ok)
        location.reload()
      })
    }
  }
})
</script> -->
