<div class="bg-soft-bone card-pixel p-2 sm:p-4 w-fit">
    <% admin_tool do %>
        <p class="text-xs">Reload after hitting update bc i'm lazy</p>
        <%= form_with(model: item, url: shop_item_path(item), scope: :shop_item, class: "flex flex-col items-start") do |f| %>
            <%= f.select :type, [["Typeless (ILLEGAL)", nil], *@shop_item_types], selected: item.type %>
            <%= f.submit %>
        <% end %>
    <% end %>

  <%= text_field_editable(item, :name) %>
  <%= text_field_editable(item, :description) %>

  <% admin_tool do %>
      <%= text_field_editable(item, :internal_description) %>
  <% end %>

  <%= image_tag item.image.variant(:thumb) if item.image.attached? %>

  <%= image_field_editable(item, :image) %>

  <%= number_field_editable(item, :ticket_cost, display_prefix: "ðŸš") %>

  <% admin_tool do %>
      <p>Actual IRL FR HC cost</p>
      <%= number_field_editable(item, :usd_cost, display_prefix: "$") %>
  <% end %>

  <%= button_to "buy!", order_shop_item_path(item), method: :get %>
</div>

<!-- <script>
document.addEventListener('DOMContentLoaded', () => {
  for (const itemContainer of document.querySelectorAll(".item-container")) {
    const item = itemContainer.querySelector(".item")
    const form = itemContainer.querySelector("form")

    form.style.display = "none";

    item.querySelector("button.edit").onclick = () => {
      item.style.display = "none";
      form.style.display = "block"
    }

    form.onsubmit = (e) => {
      e.preventDefault();

      const formData = new FormData(form);

      fetch("<%= shop_item_path(item.id) %>", {
        method: 'PATCH',
        body: formData,
        headers: {
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
          'Accept': 'application/json'
        },
        credentials: 'same-origin'
      })
      .then(res => {
        // if (res.ok)
        location.reload()
      })
    }
  }
})
</script> -->
