<div class="flex flex-col items-center justify-center min-h-screen w-full bg-cover bg-center" style="background-image: url('<%= asset_path('herobg.png') %>');">

  <div class="absolute top-4 left-4 z-10">
    <%= inline_svg "icon.svg", class: "lg:h-12 lg:w-12 h-10 w-10" %>
  </div>

  <div class="absolute top-4 right-4 z-10">
    <a href="/auth/slack" class="btn-pixel bg-forest text-white py-1 px-2 sm:py-2 sm:px-4 text-base md:text-lg 2xl:text-xl sm:text-sm hover:scale-105 transition-transform duration-300 flex items-center">
      <%= inline_svg "slack.svg", class: "h-3 w-3 sm:h-4 sm:w-4 mr-1" %>
      Sign In!
    </a>
  </div>

  <div class="text-center w-full mx-auto max-w-6xl flex flex-col px-4 sm:px-8 relative z-10">
    <div class="w-full md:w-2/3 mx-auto mb-8 sm:mb-12 mt-12 sm:mt-20 card-pixel p-4 sm:p-8 bg-bread text-center">
      <div class="mb-2 sm:mb-4">
        <h1 class="text-5xl md:text-7xl font-steven mb-2 sm:mb-4" style="text-shadow: -2px -2px 0 #583c28, 2px -2px 0 #583c28, -2px 2px 0 #583c28, 2px 2px 0 #583c28, 3px 3px 0 #2e2e1f; color: #d49d50;">THE JOURNEY</h1>
      </div>

      <h2 class="text-2xl sm:text-3xl md:text-4xl font-steven mb-4 sm:mb-8" style="color: #ac6d3c; text-shadow: 1px 1px 0 #f8e2b8, 2px 2px 0 rgba(88, 60, 40, 0.3);">A 3 week journey<br>into making!</h2>

      <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
      <%= render "signup" %>

      <div class="flex flex-col sm:flex-row gap-4 justify-center">
        <a href="/auth/slack" class="btn-pixel bg-forest text-white py-2 px-6 sm:py-3 sm:px-8 text-xl lg:text-2xl 2xl:text-3xl hover:scale-105 transition-transform duration-300 flex items-center justify-center">
          <%= inline_svg "slack.svg", class: "h-5 w-5 sm:h-6 sm:w-6 mr-2" %>
          <span>Embark!</span>
        </a>
      </div>

      <p class="mt-4 sm:mt-8 text-base sm:text-lg" style="color: #B94D3A; text-shadow: 1px 1px 0 #f8e2b8, 2px 2px 0 rgba(88, 60, 40, 0.2);">
        The Journey is running now, sign up now!
      </p>
    </div>
  </div>
</div>
