<%#
  Parameters:
    - attr: The attributes to apply to the main element of the container.
    - full_height: If true, the container will fill up all vertical space available to it.
    - classes: Defines custom classes to apply to the main element of the container.
    - no_padding: If true, no upper + horizontal padding will be applied. The parchment texture will overlap the content.
    - no_parchment: If true, completely disables parchment styling and renders a simple container.
%>

<% full_height = local_assigns.fetch(:full_height, false) %>
<% no_padding  = local_assigns.fetch(:no_padding, false) %>
<% no_parchment = local_assigns.fetch(:no_parchment, false) %>
<% classes     = local_assigns.fetch(:classes, '') %>

<% attrs            = local_assigns.fetch(:attr, {}) %>
<% default_classes  = "flex flex-col" %>
<% attrs[:class]    = [default_classes, classes, attrs[:class]].compact.join(" ") %>

<%= tag.div(**attrs) do %>
  <% if no_parchment %>
    <!-- Simple container with organic card styling -->
    <div class="organic-card <%= 'h-full' if full_height %>" style="padding: 16px 16px 16px 0;">
      <%= yield %>
    </div>
  <% else %>
    <%# Top parchment header %>

  <%#
    If we are in no-padding mode, then we create the actual, invisible "layout" element,
    which holds the display header, which is absolutely positioned.
  %>
  <% if no_padding %>
    <div class="w-full h-[20px] flex relative">
  <% end %>

  <div class="flex w-full <%= 'h-min absolute z-10' if no_padding %>">
    <div>
      <%= inline_svg("container/container-tl.svg", class: "-mr-[1px]") %>
    </div>

    <% if no_padding %>
      <%= inline_svg("container/container-tm-np.svg", class: "w-full -mr-[1px]", preserve_aspect_ratio: "none") %>
    <% else %>
      <%= inline_svg("container/container-tm.svg", class: "w-full -mr-[1px]", preserve_aspect_ratio: "none") %>
    <% end %>

    <div>
      <% if no_padding %>
        <%= inline_svg("container/container-tr-np.svg") %>
      <% else %>
        <%= inline_svg("container/container-tr.svg") %>
      <% end %>
    </div>
  </div>

  <% if no_padding %>
    </div>
  <% end %>

  <div class="flex -mt-[1px] relative <%= 'h-full' if full_height %>">
    <%#
      What we do here for columns are two elements - one "anchor" element, which is invisible,
      that participates in the box model. This is the one that has its width defined. For proper
      scaling of the vectors, the second element is absolutely-positioned.
    %>

    <% if no_padding %>
      <div class="w-[23px] h-full"></div>
    <% else %>
      <div class="w-[46px] h-full"></div>
    <% end %>

    <div
      class="ml-[1px] h-full absolute top-0 bottom-0"
      <% if no_padding %>
        style="clip-path: inset(28px 0 0 0)"
      <% end %>>
      <% if no_padding %>
        <%= inline_svg("container/container-ml-np.svg", class: "h-full bg-linear-to-b from-[#E6D4BE] to-[#F6DBBA]", preserve_aspect_ratio: "none") %>
      <% else %>
        <%= inline_svg("container/container-ml.svg", class: "h-full bg-linear-to-b from-[#E6D4BE] to-[#F6DBBA]", preserve_aspect_ratio: "none") %>
      <% end %>
    </div>

    <%# Actual content here! %>
    <div class="bg-linear-to-b from-[#E6D4BE] to-[#F6DBBA] h-full w-full flex-1">
        <% if classes.include?('faq-con') %>
          <div class="parchment-texture"></div>
        <% end %>

        <%= yield %>
    </div>

    <% if no_padding %>
      <div class="w-[18px] h-full"></div>
    <% else %>
      <div class="w-[36px] h-full"></div>
    <% end %>

    <div
      class="h-full absolute top-0 bottom-0 right-0"
      <% if no_padding %>
        style="clip-path: inset(28px 0 0 0)"
      <% end %>>
      <% if no_padding %>
        <%= inline_svg("container/container-mr-np.svg", class: "h-full bg-linear-to-b from-[#E6D4BE] to-[#F6DBBA]", preserve_aspect_ratio: "none") %>
      <% else %>
        <%= inline_svg("container/container-mr.svg", class: "h-full bg-linear-to-b from-[#E6D4BE] to-[#F6DBBA]", preserve_aspect_ratio: "none") %>
      <% end %>

    </div>
  </div>

  <%# Bottom parchment header %>
  <div class="w-full flex ml-[1px]">
    <div>
      <%= inline_svg("container/container-bl.svg", class: "-mr-[1px]") %>
    </div>

    <%= inline_svg("container/container-bm.svg", class: "w-full -mr-[1px]", preserve_aspect_ratio: "none") %>

    <div>
      <%= inline_svg("container/container-br.svg") %>
    </div>
  </div>

  <% end %>
<% end %>
