<div class="flex flex-col">
  <%# Top parchment header %>
  <div class="w-full h-min flex">
    <div>
      <%= inline_svg("container/container-tl.svg", class: "-mr-[1px]") %>
    </div>

    <%= inline_svg("container/container-tm.svg", class: "w-full -mr-[1px]", preserve_aspect_ratio: "none") %>
  
    <div>
      <%= inline_svg("container/container-tr.svg") %>
    </div>
  </div>

  <div class="flex -mt-[1px]">
    <div class="w-[46px] ml-[1px] h-full shrink">
      <%= inline_svg("container/container-ml.svg", class: "h-full", preserve_aspect_ratio: "none") %>
    </div>

    <%# Actual content here! %>
    <div class="bg-linear-to-b from-[#E6D4BE] to-[#F6DBBA] h-min w-full">
        <%= yield %>
    </div>

    <div class="w-[46px] h-full shrink">
      <%= inline_svg("container/container-mr.svg", class: "h-full", preserve_aspect_ratio: "none") %>
    </div>
  </div>

  <%# Bottom parchment header %>
  <div class="w-full flex ml-[1px]">
    <div>
      <%= inline_svg("container/container-bl.svg", class: "-mr-[1px]") %>
    </div>

    <%= inline_svg("container/container-bm.svg", class: "w-full -mr-[1px]", preserve_aspect_ratio: "none") %>
  
    <div>
      <%= inline_svg("container/container-br.svg") %>
    </div>
  </div>

</div>
