<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-bread min-h-screen flex flex-col items-center justify-center">
  <div class="bg-warm w-full text-center">
    <div class="mb-6 w-64 h-64 lg:w-96 lg:h-96 2xl:h-128 2xl:w-128 mx-auto">
      <%= yield(:mascot) %>
    </div>
    <h1 class="text-3xl md:text-4xl font-steven text-vintage-red mb-4">
      <%= yield(:title) %>
    </h1>
    <p class="text-black mb-6 text-base 2xl:text-xl px-2">
      <%= yield(:message) %>
    </p>
    <div class="flex justify-center">
      <%= link_to "Return Home", root_path, class: "btn-pixel bg-forest text-white px-6 py-2 hover:scale-105 transition-colors text-base md:text-lg 2xl:text-2xl" %>
    </div>
  </div>
</body>
</html> 