<div class="h-full bg-[#F3ECD8] flex flex-col transition-all duration-300 text-black rounded-tr-3xl rounded-br-3xl overflow-hidden"
     data-sidebar-target="sidebar">
  <div class="flex justify-between items-center p-4" data-sidebar-target="topContainer">
    <div class="cursor-pointer">
      <%= link_to payouts_path, class: "flex items-center gap-2 ml-4" do %>
        <img src="/shell.png" alt="shell" width=32>
        <p class="text-[#fad85c] text-xl"><%= current_user.balance %></p>
      <% end %>
    </div>
    <button id="collapse-sidebar" class="hover:scale-110 transition-transform cursor-pointer"
           data-action="click->sidebar#toggle">
        <%= inline_svg "chevrom-yessa.svg", class: "2xl:h-12 2xl:w-12 transition-transform duration-300 h-10 w-10",
                                       data: { 'sidebar-target': 'collapseIcon' } %>
    </button>
  </div>
  <nav class="flex-1 px-4 flex items-center text-justify text-3xl 2xl:text-4xl">
    <ul class="space-y-4 w-full">
      <li class="flex justify-start">
        <%= link_to signpost_path, class: "px-4 py-2 block #{'organic-card' if current_page?(signpost_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Signpost</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to explore_path, class: "px-4 py-2 block #{'organic-card' if current_page?(explore_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Explore</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to my_projects_path, class: "px-4 py-2 block #{'organic-card' if current_page?(my_projects_path) || (controller_name == 'projects' && action_name == 'show' && @project&.user == current_user)}" do %>
          <span data-sidebar-target="content" class="ml-2">My Projects</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to new_vote_path, class: "px-4 py-2 block #{'organic-card' if current_page?(new_vote_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Vote</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to shop_path, class: "px-4 py-2 block #{'organic-card' if current_page?(shop_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Shop</span>
        <% end %>
      </li>
      <% admin_tool do %>
        <li class="flex justify-start">
          <%= link_to admin_root_path, class: "px-4 py-2 block" do %>
            <span data-sidebar-target="content" class="ml-2">Admin</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="flex flex-col m-4 gap-4">
    <div class="group relative transition-all duration-300 p-4 flex items-center text-[#E06540] bg-[#E06540]/40 rounded-3xl overflow-hidden" data-sidebar-target="logoutContainer">
      <div class="flex items-center w-full">
        <%= image_tag current_user.avatar, class: "h-12 w-12 rounded-full flex-shrink-0", data: { 'sidebar-target': 'avatar' } %>
        <span class="text-xl ml-3 whitespace-nowrap" data-sidebar-target="content"><%= current_user.display_name %></span>
      </div>

      <div class="absolute inset-0 bg-[#ecb59b] flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-pointer">
        <%= button_to logout_path, method: :delete, class: "bg-transparent border-0 p-0 cursor-pointer hover:scale-110 transition-transform" do %>
          <p class="text-3xl font-bold text-[#E06540]">Sign Out [></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
