<%
  user_is_banned = current_user.is_banned?
  tab_unlocked = tab_unlocked?(:explore)
%>
<%= render layout: "shared/container", locals: {
  full_height: true,
  attr: {
    class: "p-4",
    data: {
      action: "mouseover->sidebar#handleMouseEnter mouseleave->sidebar#handleMouseExit"
    }
  }
} do %>
  <div
    class="flex flex-col transition-all duration-300 text-som-dark h-full w-[220px] justify-between relative"
    data-sidebar-target="sidebar">
    <div class="flex flex-col">
      <button
        class="p-1 hover:bg-som-dark/10 rounded-lg transition-all absolute -top-5 right-0 cursor-pointer"
        data-sidebar-target="pinButton"
        data-action="click->sidebar#togglePin">
        <svg xmlns="http://www.w3.org/2000/svg" class="opacity-50 hover:opacity-100 w-5 h-5 rotate-45 transition-transform" data-sidebar-target="pinIcon" viewBox="0 0 24 24"><path fill="currentColor" d="M16 12V4h1V2H7v2h1v8l-2 2v2h5.2v6h2.6v-6H19v-2z" /></svg>
      </button>

    <nav class="flex items-center text-justify text-3xl 2xl:text-4xl">
      <ul class="space-y-1 w-full transition-transform duration-150" data-sidebar-target="links">
        <li class="flex justify-start">
          <%= render partial: "shared/link", locals: {
            target: campfire_path,
            text: "Campfire",
            icon: "campfire",
            large: true,
            animate_push: true,
            highlight: current_page?(campfire_path),
            text_attr: {
              data: { sidebar_target: "collapseFade" },
              class: "text-3xl"
            },
            underline_attr: { data: { sidebar_target: "underline" } }
          } %>
        </li>

        <li class="flex justify-start">
          <%= render partial: "shared/link", locals: {
            target: explore_path,
            text: "Explore",
            icon: (user_is_banned || !tab_unlocked) ? "lock" : "compass",
            large: true,
            animate_push: true,
            highlight: current_page?(explore_path),
            text_attr: {
              data: { sidebar_target: "collapseFade" },
              class: "text-3xl"
            },
            underline_attr: { data: { sidebar_target: "underline" } },
            class: (user_is_banned || !tab_unlocked) ? "opacity-50 cursor-not-allowed" : "cursor-pointer"
          } %>
        </li>

        <li class="flex justify-start">
          <%= render partial: "shared/link", locals: {
            target: my_projects_path,
            text: "Projects",
            icon: (user_is_banned || !tab_unlocked) ? "lock" : "user",
            large: true,
            animate_push: true,
            highlight: current_page?(my_projects_path),
            text_attr: {
              data: { sidebar_target: "collapseFade" },
              class: "text-3xl"
            },
            underline_attr: { data: { sidebar_target: "underline" } },
            class: "#{(user_is_banned || !tab_unlocked) ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer'}
              #{'animate-get-my-attention' if !(current_page?(my_projects_path) ||
              (controller_name == 'projects' && action_name == 'show')) &&
              (current_user.projects.empty? || (current_user.devlogs.empty? && current_user.projects.count == 1))}"
          } %>
        </li>

        <li class="flex justify-start">
          <%= render partial: "shared/link", locals: {
            target: new_vote_path,
            text: "Vote",
            icon: (user_is_banned || !tab_unlocked) ? "lock" : "vote",
            large: true,
            animate_push: true,
            highlight: current_page?(new_vote_path),
            text_attr: {
              data: { sidebar_target: "collapseFade" },
              class: "text-3xl"
            },
            underline_attr: { data: { sidebar_target: "underline" } },
            class: (user_is_banned || !tab_unlocked) ? "opacity-50 cursor-not-allowed" : "cursor-pointer"
          } %>
        </li>

        <li class="flex justify-start">
          <%= render partial: "shared/link", locals: {
            target: shop_path,
            text: "Shop",
            icon: user_is_banned ? "lock" : "shop",
            large: true,
            animate_push: true,
            highlight: current_page?(shop_path),
            text_attr: {
              data: { sidebar_target: "collapseFade" },
              class: "text-3xl"
            },
            underline_attr: { data: { sidebar_target: "underline" } },
            class: user_is_banned ? "opacity-50 cursor-not-allowed" : "cursor-pointer"
          } %>
        </li>
        <% if current_user&.verified_check? %>
        <li class="flex justify-start">
            <%= render partial: "shared/link", locals: {
              target: gork_path,
              text: "gork",
              icon: "ai",
              large: true,
              animate_push: true,
              highlight: current_page?(gork_path),
              text_attr: {
                data: { sidebar_target: "collapseFade", turbo: false },
                class: "text-3xl",
                style: "font-family: serif"
              },
              underline_attr: { data: { sidebar_target: "underline" } }
            } %>
        </li>
        <% end %>

        <li class="flex justify-start">
          <%= render partial: "shared/link", locals: {
            target: map_path,
            text: "Map",
            icon: tab_unlocked?(:map) ? "map" : "lock",
            large: true,
            animate_push: true,
            highlight: current_page?(map_path),
            text_attr: {
              data: { sidebar_target: "collapseFade" },
              class: "text-3xl"
            },
            underline_attr: { data: { sidebar_target: "underline" } },
            class: tab_unlocked?(:map) ? "" : "opacity-50 cursor-not-allowed"
          } %>
        </li>

        <% if current_user&.is_admin? %>
          <li class="flex justify-start border-2 border-dashed border-orange-500 bg-orange-500/10" style="margin-right: 10px; border-radius: 10px;">
            <%= render partial: "shared/link", locals: {
              target: admin_root_path,
              text: "Admin",
              icon: "edit",
              large: true,
              animate_push: true,
              text_attr: {
                data: { sidebar_target: "collapseFade" },
                class: "text-3xl"
              },
              underline_attr: { data: { sidebar_target: "underline" } }
            } %>
          </li>
        <% elsif current_user&.ship_certifier? %>
          <li class="flex justify-start border-2 border-dashed border-orange-500 bg-orange-500/10" style="margin-right: 10px; border-radius: 10px;">
            <%= render partial: "shared/link", locals: {
              target: admin_ship_certifications_path,
              text: "Ship Certs",
              icon: "edit",
              large: true,
              animate_push: true,
              text_attr: {
                data: { sidebar_target: "collapseFade" },
                class: "text-3xl"
              },
              underline_attr: { data: { sidebar_target: "underline" } }
            } %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

    <div class="flex flex-col gap-4">
      <div class="relative flex flex-col items-start">
        <div class="flex items-center w-full">
          <%= image_tag current_user.avatar, class: "h-12 w-12 rounded-full flex-shrink-0" %>

          <div class="flex flex-col w-full ml-3 overflow-ellipsis overflow-hidden" data-sidebar-target="collapseFade">
            <% admin_tool show_in_impersonate: true do %>
              <div><%= current_user.id %></div>
            <% end %>
            <div class="h-4 flex items-center">
              <picture class="inline-block w-4 h-4 flex-shrink-0">
                <source srcset="/shell.avif" type="image/avif">
                <source srcset="/shell.webp" type="image/webp">
                <img src="/shell.png" class="w-4 h-4" alt="shell" loading="lazy">
              </picture>

              <span class="font-extrabold whitespace-nowrap">
                <span class="ml-1"><%= current_user.balance.to_i %></span>
              </span>
            </div>

            <div class="text-xl whitespace-nowrap overflow-ellipsis"><%= render "shared/user_display_name", user: current_user %></div>
            <% admin_user_visit(current_user) %>
            <% if impersonating? %>
              <% admin_tool show_in_impersonate: true do %>
                <%= current_impersonator.display_name %>, i know it's really you...
                <%= button_to "stop pretending?", :stop_impersonating, method: :delete, style: "all: revert;" %>
              <% end %>
            <% end %>
            <%= render "admin/inspector", record: session, thing: "session", always_inspect: true, show_in_impersonate: true %>
          </div>
        </div>

        <div class="ml-3 mt-2">
          <%= render "shared/link",
            text: "Log out",
            icon: "exit",
            method: :delete,
            target: logout_path,
            animate_push: true,
            icon_size: "6",
            class: "cursor-pointer",
            text_attr: {
              data: { sidebar_target: "collapseFade" },
              class: "text-xl"
            } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
