<%= render layout: "shared/container", locals: {
  full_height: true,
  attr: 'data-action="mouseover->sidebar#handleMouseEnter mouseleave->sidebar#handleMouseExit"'
} do %>

<div
  class="flex flex-col transition-all duration-300 text-[#4A2D24] h-full w-[220px] justify-between"
  data-sidebar-target="sidebar">
  <% if false %>
  <div class="flex justify-between items-center">
    <div class="cursor-pointer">
      <%= link_to payouts_path, class: "flex items-center gap-2 ml-4" do %>
        <img src="/shell.png" alt="shell" width=32>
        <p class="text-[#fad85c] text-xl data-[sidebar-collapsed=true]:hidden" data-sidebar-collapsed="false"><%= current_user.balance %></p>
      <% end %>
    </div>
  </div>
  <% end %>

  <nav class="flex items-center text-justify text-3xl 2xl:text-4xl">
    <ul class="space-y-1 w-full transition-transform duration-150" data-sidebar-target="links">
      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: campfire_path,
          text: "Campfire",
          icon: "map",
          highlight: current_page?(campfire_path),
          text_attr: 'data-sidebar-target="collapseFade"',
          underline_attr: 'data-sidebar-target="underline"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: explore_path,
          text: "Explore",
          icon: "compass",
          highlight: current_page?(explore_path),
          text_attr: 'data-sidebar-target="collapseFade"',
          underline_attr: 'data-sidebar-target="underline"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: my_projects_path,
          text: "Projects",
          icon: "user",
          highlight: current_page?(my_projects_path),
          text_attr: 'data-sidebar-target="collapseFade"',
          underline_attr: 'data-sidebar-target="underline"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: new_vote_path,
          text: "Vote",
          icon: "vote",
          highlight: current_page?(new_vote_path),
          text_attr: 'data-sidebar-target="collapseFade"',
          underline_attr: 'data-sidebar-target="underline"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: shop_path,
          text: "Shop",
          icon: "shop",
          highlight: current_page?(shop_path),
          text_attr: 'data-sidebar-target="collapseFade"',
          underline_attr: 'data-sidebar-target="underline"'
        } %>
      </li>

      <% admin_tool do %>
        <li class="flex justify-start">
          <%= link_to admin_root_path, class: "px-4 py-2 block" do %>
            <span class="ml-2 data-[sidebar-collapsed=true]:hidden" data-sidebar-collapsed="false">Admin</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="flex flex-col gap-4">
    <div class="relative flex items-center">
      <div class="flex items-center w-full">
        <%= image_tag current_user.avatar, class: "h-12 w-12 rounded-full flex-shrink-0" %>

        <div class="flex flex-col ml-3" data-sidebar-target="collapseHide">
          <div class="h-4">Hello,</div>
          <div class="text-xl whitespace-nowrap">@<%= current_user.display_name %>!</div>
        </div>
      </div>

      <%= button_to logout_path, method: :delete,
          class: "group relative cursor-pointer flex items-center justify-center",
          data: { sidebar_target: "collapseHide" } do %>
        <div class="flex items-center overflow-hidden transition-all duration-300 h-10 w-10 group-hover:w-28 bg-transparent group-hover:bg-[#E06540] rounded-full">
          <div class="flex items-center justify-center min-w-10">
            <%= inline_svg("icons/exit.svg", class: "w-6 text-[#4A2D24] group-hover:text-white") %>
          </div>
          <span class="font-medium text-white pr-3 opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap">Logout</span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
