<div class="h-full bg-[#F3ECD8] flex flex-col transition-all duration-300 text-black"
     data-sidebar-target="sidebar">
  <div class="flex justify-between items-center p-4" data-sidebar-target="topContainer">
    <div class="cursor-pointer">
      <%= link_to inline_svg("icon.svg", class: "2xl:h-12 2xl:w-12 h-10 w-10", data: { 'sidebar-target': 'icon' }), root_path %>
    </div>
    <button id="collapse-sidebar" class="hover:scale-110 transition-transform cursor-pointer"
           data-action="click->sidebar#toggle">
        <%= inline_svg "chevrom-yessa.svg", class: "2xl:h-12 2xl:w-12 transition-transform duration-300 h-10 w-10",
                                       data: { 'sidebar-target': 'collapseIcon' } %>
    </button>
  </div>
  <nav class="flex-1 px-4 flex items-center text-justify text-4xl 2xl:text-5xl">
    <ul class="space-y-4 w-full">
      <li class="flex justify-start">
        <%= link_to explore_path, class: "px-4 py-2 block #{'organic-card' if current_page?(explore_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Explore</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to gallery_path, class: "px-4 py-2 block #{'organic-card' if current_page?(gallery_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Gallery</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to my_projects_path, class: "px-4 py-2 block #{'organic-card' if current_page?(my_projects_path) || (controller_name == 'projects' && action_name == 'show' && @project&.user == current_user)}" do %>
          <span data-sidebar-target="content" class="ml-2">My Projects</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to new_vote_path, class: "px-4 py-2 block #{'organic-card' if current_page?(new_vote_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Vote</span>
        <% end %>
      </li>
      <li class="flex justify-start">
        <%= link_to shop_path, class: "px-4 py-2 block #{'organic-card' if current_page?(shop_path)}" do %>
          <span data-sidebar-target="content" class="ml-2">Shop</span>
        <% end %>
      </li>
      <% admin_tool do %>
        <li class="flex justify-start">
          <%= link_to admin_root_path, class: "px-4 py-2 block" do %>
            <span data-sidebar-target="content" class="ml-2">Admin</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="flex flex-col m-4 gap-4">
    <%= link_to payouts_path, class: "flex items-center gap-2 ml-4" do %>
      <img src="/shell.png" alt="shell" width=32>
      <p class="text-[#BEA234] text-xl"><%= current_user.balance %></p>
    <% end %>

    <div class="hover:scale-105 transition-transform p-4 flex items-center justify-between text-[#E06540] bg-[#E06540]/40 rounded-4xl" data-sidebar-target="logoutContainer">
      <div class="flex items-center">
        <%= image_tag current_user.avatar, class: "h-12 w-12 rounded-full", data: { 'sidebar-target': 'avatar' } %>
        <span class="text-xl underline ml-2" data-sidebar-target="content">@<%= current_user.display_name %></span>
      </div>

      <div class="hover:scale-110 transition-transform cursor-pointer">
        <%= button_to logout_path, method: :delete, class: "bg-transparent border-0 p-0 cursor-pointer" do %>
          <p class="text-3xl font-bold">[></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
