<%= render layout: "shared/container", locals: { full_height: true } do %>

<div
  class="flex flex-col transition-all duration-300 text-[#4A2D24] h-full justify-between"
  data-sidebar-target="sidebar"
>
  <% if false %>
  <div class="flex justify-between items-center" data-sidebar-target="topContainer">
    <div class="cursor-pointer">
      <%= link_to payouts_path, class: "flex items-center gap-2 ml-4" do %>
        <img src="/shell.png" alt="shell" width=32>
        <p class="text-[#fad85c] text-xl"><%= current_user.balance %></p>
      <% end %>
    </div>

    <button id="collapse-sidebar"
      class="hover:scale-110 transition-transform cursor-pointer"
      data-action="click->sidebar#toggle"
    >
        <%=
          inline_svg "chevrom-yessa.svg",
            class: "2xl:h-12 2xl:w-12 transition-transform duration-300 h-10 w-10",
            data: { 'sidebar-target': 'collapseIcon' }
        %>
    </button>
  </div>
  <% end %>

  <nav class="flex items-center text-justify text-3xl 2xl:text-4xl">
    <ul class="space-y-1 w-full">
      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: signpost_path,
          text: "Signpost",
          icon: "map",
          highlight: current_page?(signpost_path),
          content_attr: 'data-sidebar-target="content"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: explore_path,
          text: "Explore",
          icon: "compass",
          highlight: current_page?(explore_path),
          content_attr: 'data-sidebar-target="content"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: my_projects_path,
          text: "My Projects",
          icon: "user",
          highlight: current_page?(my_projects_path),
          content_attr: 'data-sidebar-target="content"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: new_vote_path,
          text: "Vote",
          icon: "vote",
          highlight: current_page?(new_vote_path),
          content_attr: 'data-sidebar-target="content"'
        } %>
      </li>

      <li class="flex justify-start">
        <%= render partial: "shared/link", locals: {
          target: shop_path,
          text: "Shop",
          icon: "shop",
          highlight: current_page?(shop_path),
          content_attr: 'data-sidebar-target="content"'
        } %>
      </li>

      <% admin_tool do %>
        <li class="flex justify-start">
          <%= link_to admin_root_path, class: "px-4 py-2 block" do %>
            <span data-sidebar-target="content" class="ml-2">Admin</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="flex flex-col gap-4">
    <div class="relative flex items-center" data-sidebar-target="logoutContainer">
      <div class="flex items-center w-full">
        <%= image_tag current_user.avatar, class: "h-12 w-12 rounded-full flex-shrink-0", data: { 'sidebar-target': 'avatar' } %>
        
        <div class="flex flex-col ml-3">
          <div class="h-4">Hello,</div>
          <div class="text-xl whitespace-nowrap" data-sidebar-target="content">@<%= current_user.display_name %>!</div>
        </div>
      </div>

      <%= button_to logout_path, method: :delete, class: "cursor-pointer block" do %>
        <%= inline_svg("icons/exit.svg", class: "w-6") %>
      <% end %>

      <% if false %>
        <div class="absolute inset-0 bg-[#ecb59b] flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-pointer">
          <%= button_to logout_path, method: :delete, class: "bg-transparent border-0 p-0 cursor-pointer hover:scale-110 transition-transform" do %>
            <p class="text-3xl font-bold text-[#E06540]">Sign Out [></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
