<div data-controller="modal" class="cursor-pointer">
  <button data-action="modal#open" data-modal-id="<%= project.id %>" data-modal-type="delete" class="px-3 py-2 bg-vintage-red hover:scale-[1.05] text-white transition-transform duration-300 text-sm md:text-base 2xl:text-xl btn-pixel">
    Delete Project
  </button>
</div>

<!-- Delete Modal -->
<div id="delete-modal-<%= @project.id %>" data-controller="modal" class="hidden fixed inset-0 z-50 overflow-auto bg-black/30 flex items-center justify-center p-2 md:p-4">
  <div class="bg-[#F3ECD8] rounded-2xl border-4 border-[#E4DCC6] w-full max-w-2xl mx-2 md:mx-auto relative max-h-[90vh] flex flex-col overflow-hidden" data-modal-target="container">
    <div class="p-3 md:p-4 border-b border-saddle-taupe border-opacity-30 flex-shrink-0">
      <div class="flex justify-between items-center">
        <h3 class="text-lg md:text-2xl">Delete Project</h3>
        <button type="button" class="text-gray-600 hover:text-vintage-red cursor-pointer" data-action="click->modal#close">
          <%= inline_svg_tag "close.svg", class: "h-6 w-6 2xl:h-8 2xl:w-8" %>
        </button>

      </div>
    </div>

    <div class="p-4 md:p-6 overflow-y-auto text-center">
     <%= image_tag "sadjourneypheus.png", class: "w-auto h-96 mx-auto mb-4", alt: "Sadjourneypheus" %>
      <div class="text-center mb-8">
        <h4 class="text-xl md:text-2xl 2xl:text-3xl mb-2">Hold up!</h4>
        <p class="text-base md:text-lg mb-4 text-gray-600">Are you sure you want to delete "<%= @project.title %>"? <span class="text-vintage-red">This action cannot be undone.</span> This will also delete all updates, comments, and other data associated with this project. </p>
      </div>

      <div class="mt-6 flex justify-center space-x-4">
        <button class="px-4 py-2 btn-pixel bg-nice-blue text-white hover:scale-[1.05] transition-transform 2xl:text-xl" data-action="click->modal#close">Cancel</button>
        <%= button_to project_path(@project), method: :delete, class: "px-4 py-2 btn-pixel bg-vintage-red text-white hover:scale-[1.05] transition-transform 2xl:text-xl", data: { turbo: false } do %>
          Delete Project
        <% end %>
      </div>
    </div>
  </div>
</div>
