<%= render C::StyledButton.new(
    text: "Delete",
    kind: :danger,
    icon: "delete.svg",
    data: {
      controller: "modal",
      action: "click->modal#open",
      modal_id: project.id,
      modal_type: "delete"
    }) %>

<%= render "shared/modal", id: "delete-modal-#{project.id}", title: "Delete #{project.title}?" do %>
  <div class="text-center mb-8">
    <p class="text-base md:text-lg mb-4">Are you absolutely sure you want to delete your project <%= project.title %>? This will also delete all devlogs, comments, and other data associated with this project, and disqualify you from any future payouts! <span class="text-vintage-red">This action cannot be undone, you have been warned!</span></p>
  </div>

  <div class="mt-6 flex justify-center space-x-4">
    <%= render C::StyledButton.new(
        text: "Cancel",
        kind: :primary,
        data: { action: "click->modal#close" }) %>

    <%= form_with model: @project, url: project_path(@project), method: :delete, local: true, class: "inline-block" do |form| %>
      <%= render C::StyledButton.new(
          text: "Delete Project",
          kind: :danger,
          type: :submit ) %>
    <% end %>
  </div>
<% end %>
