<% if @recent_devlogs.any? %>
  <% @recent_devlogs.each do |devlog| %>
    <%= turbo_stream.append "devlogs-list" do %>
      <%= render "devlogs/devlog_card",
          devlog: devlog,
          context: 'explore',
          show_project_title: true,
          show_project_navigation: true,
          show_likes: true,
          show_comment_modal: true,
          show_stonks: true %>
    <% end %>
  <% end %>
<% end %>

<%= turbo_stream.replace "load-more-devlogs" do %>
  <% if @pagy.next %>
    <%= turbo_frame_tag "load-more-devlogs",
          src: explore_path(page: @pagy.next, format: :turbo_stream),
          loading: "lazy",
          class: "block" do %>
      <div class="flex flex-col items-center justify-center">
          <%= image_tag 'lollipop.svg', class: 'w-8 h-8 sm:w-16 sm:h-16 animate-spin' %>
      </div>
    <% end %>
  <% else %>
    <div id="load-more-devlogs" class="flex justify-center py-6">
      <div class="text-gray-500 text-sm sm:text-base">
        No more devlogs to load... Phew you're a doomscroller! Drink water!!
      </div>
    </div>
  <% end %>
<% end %>
