<h1>admin dashboard!</h1>
<p>you look great today :-)</p>

<ul>
  <li>
    shop orders
    <ul>
      <li><%= link_to "all 'em", admin_shop_orders_path %></li>
      <li><%= link_to "ones which are pending acceptance", pending_admin_shop_orders_path %></li>
      <li><%= link_to "ones which are awaiting manual fulfillment", pending_admin_shop_orders_path %></li>
    </ul>
  </li>
  <li><%= link_to "users", admin_users_path %></li>
  <li>
    admin tools
    <ul>
      <li><%= link_to "420 blaze it", admin_blazer_path %></li>
    </ul>
  </li>
</ul>

<%= link_to "â† back to normal people website", root_path %>
