<h1>User #<%= @user.id %></h1>
<%= render @user %> <br>
<b>Total fulfillment cost: </b> <%= number_to_currency(@user.shop_orders.sum(:fulfillment_cost) || 0) %> <br>
<b>IDV ID:</b> <%= @user.identity_vault_id || "None" %> <%= link_to "visit", "#{IdentityVaultService.host}backend/identities/#{@user.identity_vault_id}" if @user.identity_vault_id.present? %><br>
<b>Slack ID:</b> <%= (link_to @user.slack_id, "https://hackclub.slack.com/team/#{@user.slack_id}") || "None?!" %> <br>
<b>Email:</b> <%= (link_to @user.email, "mailto:#{@user.email}") || "None" %><br>
<b>Ship Certifier:</b>
<% if @user.ship_certifier? %>
  <span style="color: green; font-weight: bold;">âœ“ Yes</span>
<% else %>
  <span style="color: #666;">âœ— No</span>
<% end %>
<br>
<b>banned:</b>
<% if @user.is_banned? %>
  <span style="color: red; font-weight: bold;">yurp</span>
<% else %>
  <span style="color: green; font-weight: bold;">nah</span>
<% end %>
<br>

<%= button_to "ðŸ¥¸ impersonate?", impersonate_admin_user_path(@user) %>

<div style="border: 1px dashed red; width: fit-content; padding: 1rem">
  <b style="color: red;">DON'T DO THIS:</b>
  <%= button_to "nuke IDV data", nuke_idv_data_admin_user_path(@user) %>
  <%= button_to "cancel all card grants (only do this if you're banning somebody)", cancel_card_grants_admin_user_path(@user) %>
<% if @user.is_banned? %>
  <%= button_to "unban user", unban_user_admin_user_path(@user),
      confirm: "ya sure?",
      class: "abtn secondary" %>
<% else %>
  <%= button_to "ban user", ban_user_admin_user_path(@user),
      confirm: "ya sure? this is quite the decision!",
      class: "abtn primary" %>
<% end %>
</div>
<br><br>
<% if @user.freeze_shop_activity? %>
  <%= button_to "defrost (allow shop activity again)", defrost_admin_user_path(@user) %>
<% else %>
  <%= button_to "freeze (don't allow shop activity)", freeze_admin_user_path(@user) %>
<% end %>
<br><br>

<% if @user.has_black_market? %>
  <%= button_to "remove black market access", take_away_black_market_admin_user_path(@user) %>
<% else %>
  <%= button_to "give black market access", give_black_market_admin_user_path(@user) %>
<% end %>
<br><br>

<% if @user.ship_certifier? %>
  <%= button_to "revoke ship certifier permissions", revoke_ship_certifier_admin_user_path(@user),
      confirm: "ya sure you wanna do that?",
      class: "abtn secondary" %>
<% else %>
  <%= button_to "grant ship certifier permissions", grant_ship_certifier_admin_user_path(@user),
      class: "abtn primary" %>
<% end %>
<br><br>

<b>Payouts:</b>
<ul>
  <% @payouts.each do |payout| %>
    <li id="<%= dom_id payout %>"><%= render payout %></li>
  <% end %>
</ul>
<details>
  <summary>
    create manual adjustment payout
  </summary>
  <%= form_with url: create_payout_admin_user_path(@user), scope: :payout do |f| %>
    <div>
      <%= f.label :amount, "Amount: " %>
      <%= f.number_field :amount %>
    </div>
    <div>
      <%= f.label :reason, "Reason: " %>
      <%= f.text_area :reason, placeholder: "i just want them to have some walkin' around money!", rows: 3 %>
    </div>
    <%= f.submit "do it!" %>
  <% end %>
</details>
<br><br>
<b>audit lawg (incomplete):</b>
<%= render_activities(@activities, layout: "activity") %>

<%= render 'admin/inspector', record: @user %>
<br><br><%= link_to "â† back", admin_users_path %>
