<%= stylesheet_link_tag "tutorial", "data-turbo-track": "reload" unless current_user.tutorial_progress.completed? %>

<% if !current_user.tutorial_progress.step_completed?(tutorial_key) && current_page?(tutorial_path) %>
  <div class="tutorial-step-content">
    <div class="tutorial-step-content-bubble">
      <h3 class="text-lg"><%= tutorial_title %></h3>
      <p class="opacity-70"><%= tutorial_description %></p>

      <%= form_with url: tutorial_complete_step_path, method: :post, local: true, data: { turbo: false } do |form| %>
        <%= form.hidden_field :step_name, value: tutorial_key %>
        <%= form.submit %w[whatever okay yeah understood i\ get\ it].sample, class: "tutorial-dismiss" %>
      <% end %>

      <%= image_tag "bubble-penis.svg", class: "bubble-penis" %>
    </div>

    <%= image_tag "tutorial-mascot.png", width: 200, class: "tutorial-mascot" %>
  </div>
<% end %>
