<%= form_with(model: [project, vote], 
             url: votes_path,
             class: "space-y-3 sm:space-y-4", 
             id: "vote_form_#{project.id}",
             data: { controller: "form", action: "submit->form#preventDoubleSubmission" }) do |f| %>
    <%= f.hidden_field :project_id, value: project.id %>

    <div class="space-y-1 sm:space-y-2">
        <%= f.label :explanation, "Why this project?", class: "block text-base sm:text-lg font-medium" %>
        <%= f.text_area :explanation,
            class: "w-full p-2 sm:p-3 border-2 border-black focus:outline-none focus:border-forest bg-warm text-sm sm:text-base #{'border-vintage-red' if vote.errors[:explanation].any?}",
            rows: 3,
            required: true,
            placeholder: "I like this because..." %>
        
        <% if vote.errors[:explanation].any? %>
            <div class="text-vintage-red text-xs sm:text-sm mt-1">
                <%= vote.errors[:explanation].join(", ") %>
            </div>
        <% end %>
    </div>

    <div class="flex justify-end">
        <%= f.submit "Vote", 
            class: "w-full sm:w-auto px-4 sm:px-6 py-2 bg-forest hover:scale-[1.05] text-white transition-all duration-300 text-base sm:text-lg 2xl:text-xl btn-pixel cursor-pointer", 
            data: { form_target: "submitButton" } %>
    </div>
<% end %> 