<li><b><%= activity.created_at.in_time_zone('America/New_York') %></b>: <%= "⚡" if activity.owner&.is_admin? %><%= activity.owner&.display_name %> <%= yield %> <%= render "admin/inspector", record: activity %></li>
