<html>
  <head>
    <%= yield :head %>
    <%= stylesheet_link_tag "admin_dashboard.css" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="/favicon.png" type="image/png">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
  </head>
  <body data-turbo="false">
    <% flash.each do |type, message| %>
      <% clazz = case type.to_sym
        when :success
          "success"
        when :notice
          "caution"
        else
          ""
        end %>
      <div class="notice <%= clazz %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
