<!DOCTYPE html>
<html class="min-h-screen">
  <head>
    <title><%= content_for(:title) || "Journey" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "pixelart" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-warm font-steven">
    <% if user_signed_in? %>
      <div data-controller="sidebar">
        <%= render "shared/sidebar" %>
        <main class="ml-64 2xl:ml-96 pt-12 py-8 pl-8" data-sidebar-target="mainContent">
          <% if flash[:notice] %>
            <div class="bg-soft-bone p-4 mb-4 card-pixel flex items-center justify-between max-w-md mx-auto" role="alert">
              <div class="flex items-center text-forest">
                <%= inline_svg "check.svg", class: "w-6 h-6 mr-2" %>
                <%= flash[:notice] %>
              </div>
              <button type="button" class="text-forest hover:text-gray-200" onclick="this.parentElement.remove()">
                <%= inline_svg "close.svg", class: "w-5 h-5" %>
              </button>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="bg-soft-bone p-4 mb-4 card-pixel flex items-center justify-between max-w-md mx-auto" role="alert">
              <div class="flex items-center text-vintage-red">
                <%= inline_svg "close.svg", class: "w-6 h-6 mr-2" %>
                <%= flash[:alert] %>
              </div>
              <button type="button" class="text-vintage-red hover:text-gray-200" onclick="this.parentElement.remove()">
                <%= inline_svg "close.svg", class: "w-5 h-5" %>
              </button>
            </div>
          <% end %>
          <%= yield %>
        </main>
      </div>
    <% else %>
      <% if flash[:notice] %>
        <div class="bg-soft-bone p-4 mb-4 card-pixel flex items-center justify-between max-w-md mx-auto" role="alert">
          <div class="flex items-center text-forest">
            <%= inline_svg "check.svg", class: "w-6 h-6 mr-2" %>
            <%= flash[:notice] %>
          </div>
          <button type="button" class="text-forest hover:text-gray-200" onclick="this.parentElement.remove()">
            <%= inline_svg "close.svg", class: "w-5 h-5" %>
          </button>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="bg-soft-bone p-4 mb-4 card-pixel flex items-center justify-between max-w-md mx-auto" role="alert">
          <div class="flex items-center text-vintage-red">
            <%= inline_svg "close.svg", class: "w-6 h-6 mr-2" %>
            <%= flash[:alert] %>
          </div>
          <button type="button" class="text-vintage-red hover:text-gray-200" onclick="this.parentElement.remove()">
            <%= inline_svg "close.svg", class: "w-5 h-5" %>
          </button>
        </div>
      <% end %>
      <%= yield %>
    <% end %>
  </body>
</html>
