<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Summer of Making" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pixelart" %>
    <%= stylesheet_link_tag "som" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
    <script defer data-domain="journey.hackclub.com" src="https://plausible.io/js/script.hash.outbound-links.js"></script>
  </head>

  <body class="min-h-screen font-dynapuff">
    <%# admin_tool do %>
      <%# render "shared/stonk_tickler_marquee" %>
    <%# end %>

    <% if user_signed_in? %>
      <%= render "tutorial/tutorial" %>

      <div data-controller="sidebar">
        <% if mobile_device? %>
          <%= render "shared/mobile_nav" %>
          <main class="pb-20 pt-12 px-4" data-sidebar-target="mainContent">
            <div id="flash-container">
              <%= render "shared/flash" %>
            </div>
            <%= yield %>
          </main>
        <% else %>
          <div class="flex flex-col h-screen overflow-hiden">
            <% unless current_user.has_hackatime %>
              <div class="w-full bg-vintage-red text-white flex flex-col justify-center py-2">
                <p class="text-center">
                  Your time spent coding is not currently being tracked, and you can't create any projects.
                </p>
                <button data-controller="modal" data-action="click->modal#open" data-modal-type="hackatime" class="hover:scale-[1.05] transition-transform text-base underline">
                  Connect Hackatime (our code time tracking thing)
                </button>
              </div>
            <% end %>

            <div class="flex h-full border-1 border-red-500 min-h-0">
          <%= render "shared/sidebar" %>
          <main class="overflow-auto w-full" data-sidebar-target="mainContent">
            <div id="flash-container">
              <%= render "shared/flash" %>
            </div>
            <%= yield %>
          </main>
            </div>
        </div>
        <% end %>
      </div>
    <% else %>
      <div id="flash-container">
        <%= render "shared/flash" %>
      </div>
      <%= yield %>
    <% end %>

    <% if user_signed_in? && current_user.has_hackatime %>
      <%= render "shared/timer_indicator" %>
    <% end %>

    <div id="modals"></div>

  </body>
</html>
