<html>
  <head>
    <%= yield :head %>
    <%= stylesheet_link_tag "black_market.css" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="/favicon.png" type="image/png">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <% unless current_user&.has_badge?(:preferred_customer) %>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // make them wait a bit nora!
        setTimeout(function() {
          const loader = document.querySelector('.loader');
          if (loader) {
            loader.classList.add('fade-out');
          }
          document.body.classList.remove("no_scroll")
        }, 5000 + Math.random()*3989);
      });
    </script>
    <% end %>
  </head>
  <body class="no_scroll">
  <% unless current_user&.has_badge?(:preferred_customer) %>
    <div class="loader">
      <div class="inner">
      <div class="l">
        <div class="s"></div>
        <div class="text">heidimarket</div>
      </div>
      <p style="margin-bottom: 4px; margin-top:0;">You have been placed in a queue, awaiting forwarding to the platform.</p>
      <div style="margin-top: 10px;margin-bottom: 10px; display: flex; justify-content: center;">
        <%= image_tag "rac_yap.gif", style: "height: 110px;" %>
      </div>
      <p style="margin-bottom: 10px;height: 26px;font-size: 22px;">Your estimated wait time is <span class="eta">&lt;3 minutes</span></p>
      <p style="margin: 0;">Please do not refresh the page, you will be automatically redirected.</p>
      </div>
    </div>
    <% end %>
    <div id="flash-container">
      <% flash.each do |type, message| %>
        <% clazz = case type.to_sym
                   when :success
                     "success"
                   when :notice
                     "caution"
                   else
                     ""
                   end %>
        <div class="notice <%= clazz %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
